mat-card {
  background: rgba(0, 0, 0, 0.4);
  max-width: 65%;
}

.contact-content {
  display: inline-block;
}

a {
  color: lightblue;
  &:visited {
    color: lightblue;
  }
}

img {
  width: 400px;
}

.scrolling-content {
  height: 80%;
  overflow-y: auto;
}
