<div class="full-page-height" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title class="center-text white-text">Contact Me</mat-card-title>
    <mat-card-content>
      <div fxlayout="row" fxLayoutAlign="start center" class="contact-content">
        <div class="white-text center-text about-text" ngClass="xlarge" ngClass.xs="large">Follow me on <a target="_blank" href="https://www.linkedin.com/in/laura-holbrook">LinkedIn</a></div>
        <div>
          <img style="width: 400px;" src="/assets/WebGirlImg2.png" alt="Web Girl Avatar" />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
