<div class="full-page-height" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title class="center-text white-text">Contact Info</mat-card-title>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" ngClass.md="contact-content">
        <div class="white-text center-text about-text" ngClass="xlarge" ngClass.xs="large">
          <p>
            <strong
              ><u><i>For Code Monkeys:</i></u></strong
            >
            <br /><br />
            <span>Checkout my <a target="_blank" href="https://github.com/ltischuk">Github</a> projects!</span>
            <br /><br /><br />
            <strong
              ><u><i>For Professional Contacts:</i></u></strong
            >
            <br /><br />
            <span>Follow me on <a target="_blank" href="https://www.linkedin.com/in/laura-holbrook">LinkedIn</a>.</span>
          </p>
        </div>
        <div>
          <img src="/assets/WebGirlImg2.png" alt="Web Girl Avatar" />
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
