<div class="full-page-height center-page-margin" fxLayout="column" fxLayoutAlign="center center">
  <p @flyIn class="white-text italic-style" ngClass="xxlarge" ngClass.xs="xlarge">Passionate Leader.</p>
  <mat-divider @fade class="dividing-border"></mat-divider>
  <p @flyIn class="white-text italic-style" ngClass="xxlarge" ngClass.xs="xlarge">Software Architect.</p>
  <mat-divider @fade class="dividing-border"></mat-divider>
  <p @flyIn class="white-text italic-style" ngClass="xxlarge" ngClass.xs="xlarge">Innovator.</p>
</div>
