<div class="full-page-height" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title class="center-text white-text">Hello!</mat-card-title>
    <mat-card-content>
      <div @fade class="white-text center-text about-text" ngClass="xlarge" ngClass.xs="large">
        My name is Laura and I'm a passionate software developer, architect & leader!<br /><br />
        I currently lead and manage high-performing JS, Java and PHP development teams that create best-in-class eCommerce software. Whether building a new application, publishing APIs or
        tinkering with new tech, I inspire developers to be creative, solve critical problems with innovation, and deliver incredible products. I stay up to speed on the latest tech trends, still
        code in my free time and am super passionate about software architecture. <br /><br />
        I love being a thought partner with extremely talented developers, to build great things and of course, save the world....one line at a time 🤘
      </div>
    </mat-card-content>
  </mat-card>
</div>
