mat-card {
  background: rgba(0, 0, 0, 0.4);
  max-width: 65%;
}

.about-text {
  line-height: 1.25;
}

img {
  width: 100px;
  margin-right: 5px;
}

.scrolling-content {
  height: 75%;
  overflow-y: auto;
}
