<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu Button">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="nav-title" class="white-text">Laura Holbrook</span>
  <mat-menu #menu="matMenu">
    <button routerLink="/home" routerLinkActive="active" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button routerLink="/about" routerLinkActive="active" mat-menu-item>
      <mat-icon>face</mat-icon>
      <span>About Me</span>
    </button>
    <button routerLink="/contact" routerLinkActive="active" mat-menu-item>
      <mat-icon>email</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>
</mat-toolbar>
