@import 'theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: url('assets/app-background.jpg') no-repeat center fixed;
  background-size: cover;
}

/*Common Styles for pages*/
.center-page-margin {
  margin-top: -7em;
}
.center-text {
  text-align: center;
}

.italic-style {
  font-style: italic;
}

.full-page-height {
  height: 100vh;
}

.white-text {
  color: white;
}

.large {
  font-size: large;
}

.xlarge {
  font-size: x-large;
}

.xxlarge {
  font-size: xxx-large;
}
