@import 'theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: url('assets/app-background.jpg') no-repeat center fixed;
  background-size: cover;
}

/*Common Styles for pages*/
.center-page-margin {
  margin-top: -7em;
}
.center-text {
  text-align: center;
}

.dividing-border {
  padding: 1em;
  width: 8em;
  border-color: rgb(156, 80, 80);
  margin-top: 1em;
}

.italic-style {
  font-style: italic;
}

.full-page-height {
  height: 100vh;
}

.white-text {
  color: white;
}

.large {
  font-size: large;
}

.xlarge {
  font-size: x-large;
}

.xlarge-sm {
  @media (min-width: 768px) {
    font-size: x-large important;
  }

}

.xxlarge {
  font-size: xx-large;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-align {
  align-items: center;
}

.center-justify {
  justify-content: center;
}

.flex-column-sm {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.flex-row-sm {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}